.game {
  position: relative;
  width: 400px;
  height: 400px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  &-background {
    width: 300px;
    height: 300px;
  }

  &-item {
    position: absolute;
  }

  &-paper {
    top: 0;
    left: 0;
  }

  &-scissors {
    right: 0;
    top: 0;
  }

  &-rock {
    bottom: 0;
    margin: auto;
  }
}
